.slider.top-ten-slider {
  margin-bottom: 23px;

  .slider__boxhead {
    margin-bottom: -1px;
  }

  .slider__title {
    display: flex;
    flex-direction: column;

    span:nth-of-type(2) {
      margin-top: -1px;
    }
  }

  .slick-next,
  .slick-prev {
    top: 100px;
  }

  @include tablet {
    margin-bottom: 42px;

    .slider__boxhead {
      margin-bottom: 10px;
      .slider__title {
        letter-spacing: -0.6px;
        flex-direction: row;
        gap: 7px;
        align-items: center;
      }
    }
  }
}
