.outline {
  color: black;
}

.outline-white {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.outline-first {
  text-shadow: -1px -1px 0 #e7bf35, 1px -1px 0 #e7bf35, -1px 1px 0 #e7bf35,
    1px 1px 0 #e7bf35;
}

.outline-second {
  text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090,
    1px 1px 0 #909090;
}

.outline-third {
  text-shadow: -1px -1px 0 #7a5235, 1px -1px 0 #7a5235, -1px 1px 0 #7a5235,
    1px 1px 0 #7a5235;
}

.top-ten-box {
  display: flex;
  gap: 13px;

  & &__number {
    width: 45px;
    font-size: 80px;
    line-height: 59px;
    margin: 0;
  }

  @include tablet {
    gap: 24px;

    & &__number {
      width: 69px;
      font-size: 120px;
      line-height: 89px;
    }
  }
}

// .box-2 {
//   gap: 17px;

//   @include tablet {
//     gap: 24px;
//   }
//   @include desktop {
//     gap: 23px;
//   }
// }

// .box-3 {
//   @include tablet {
//     gap: 42px;
//   }
// }
